/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:wght@300;400;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}
a{
    list-style: none;
}
.container {
    width: 82.5%;
    max-width: 1320px;
    margin: 0 auto;
}
/*---Banner Section----*/
.banner {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Banner\ Image.png');
    background-size: cover;
    border-radius: 16px;
    width: 100%;
    height: 600px;
    margin-top: 50px;
}
.banner-text {
    padding-top: 177px;
}
.banner h4 {
    color: #fff;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 16px;
}
.banner h1 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}
/*-----Hot Deals-----*/
.deals {
    text-align: center;
    align-items: center;
    padding-top: 120px;
}
.deals h1 {
    color: #F00;
    font-size: 88px;
    font-family: Inter;
    font-weight: 700;
    padding-bottom: 48px;
}
.deals p {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    font-family: Inter;
    padding-bottom: 16px;
}
.deals h3 {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 48px;
}
.deals img {
    padding-bottom: 120px;
}
/*-----Part Section -----*/
.container-party {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    border-radius: 16px;
    margin-bottom: 120px;
    position: relative;
    display: flex;
    flex-direction: row;
}
.img-2024>img {
    position: relative;
    top: 68px;
    left: 40px;
    width: 319.83px;
    height: 464.662px;
    justify-content: center;
    align-items: center;
}
.party h1,
.party .btn {
    color: #FFF;
}
.party h1,
.party p {
    padding-left: 126px;
}
.btn {
    margin-left: 158px;
}
.party h1 {
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    padding-top: 126px;
    padding-bottom: 24px;
}
.party p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 48px;
}
.btn {
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.2px;
    background-color: transparent;
    padding: 16px 32px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: .2s ease-in-out 0s;
}
.btn:hover{
    transform: scale(1.1);
    background-color: #f00;
}
.img-2024 {
    align-items: center;
    z-index: 1;
    opacity: 90%;
}
.party-img {
    background-position: right;
    padding-top: 68px;
    width: 319.83px;
    height: 464.662px;
    padding: 0.008px 0px 0px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: #690B02, #8F4941, #B18079, #CDADA8, #E3D1CD, #F2EAE7, #FCFAF6, #FFFFFC;
}
/*----schedule Section----*/
.schedule {
    background-image: url('../images/Vector.png');
    width: 100%;
    height: 482px;
    border-radius: 16px;
    padding-top: 100px;
    text-align: center;
}
.schedule h3 {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}
.schedule h3 span {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    /* 175% */
    text-transform: capitalize;
}
.schedule button {
    margin-top: 64px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 32px;
    background-color: #f00;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: .2s ease-in-out 0s;
}
.schedule button:hover{
    transform: scale(1.1);
}
/**-----Comming Soon------*/
.comming-soon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 62.5px;
    padding-top: 120px;
    /* padding-bottom: 120px; */
}
.subtitle {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: left;
    padding-bottom: 22px;
}
.content h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    padding-bottom: 22px;
    width: 393px;
}
.description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}
.comming-soon-img img {
    background-color: #fff;
    border-radius: 463px;
    border: 15px solid #F00;
    width: 463px;
    height: 463px;
    flex-shrink: 0;
    padding: 49px;
}
.year-2024 h3 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 16px;
}
.year-2024 p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    padding-bottom: 43px;
}
/*--------Discount --------*/
.discount {
    margin-top: 120px;
}
.holiday-sale {
    text-align: center;
    display: block;
    padding-bottom: 64px;
}
.title {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 16px;
}
.holiday-sale h1 {
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding-bottom: 26px;
    z-index: 100;
}
.holiday-sale h1 span {
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.discount-sale {
    height: 660px;
}
.details {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    width: 1068px;
    margin: 0 auto;
}
.holidays-sale-banner {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-image: url("../images/Rectangle 2.png"), url("../images/Rectangle 1.png");
    background-repeat: no-repeat;
    background-position: bottom, right 3%;
    width: 100%;
}
.holidays-sale-banner>img {
    position: relative;
    top: 81px;
    right: 22%;
}
/*--------Portfolio----*/
.portfolio {
    padding-top: 120px;
}
.portfolio h6 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 16px;
}
.portfolio h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    padding-bottom: 22px;
}
.portfolio p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 896px;
    padding-bottom: 48px;
}
.image-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 24px;
    padding-bottom: 120px;
}
.image-container img {
    /* width: 442px;
    height: 451px; */
    transition: .3s ease-in-out;
    opacity: 0.7;
}
.image-container img:hover {
    width: 400px;
    height: 425px;
    border-radius: 10px;
    opacity: 1;
}
/*--------Newsletter----*/
.newsletter {
    width: 100%;
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    align-items: center;
    text-align: center;
    margin-bottom: 120px;
}
.newsletter img {
    padding: 80px 0 40px;
}
.newsletter h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: normal;
    padding-bottom: 22px;
}
.newsletter p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding: 0 212px 48px 212px;
}
form {
    position: absolute;
    left: 336px;
    right: 336px;
}
.email {
    width: 438px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 50px 0 0 50px;
    border: none;
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 25px 30px;
}
.Subscribe {
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    width: 210px;
    height: 72px;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    cursor: pointer;
    transition: 0.3s;
    opacity: 0.7;
}
.Subscribe:hover{
    opacity: 1;
}
/*-----Footer------*/
footer {
    background: #070211;
}
.footer-container {
    background: #070211;
    width: 1600px;
}
.top-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 120px;
}
.contac-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.location p {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    /* 166.667% */
}
.contac-info p {
    color: #FFF;
    padding-left: 16px;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}
.contac-info img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}
.social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
    
}
.social-media > img{
    cursor: pointer;
}
.copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.copyright p {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 120px;
}
hr {
    width: 1320px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    ;
    margin-bottom: 50px;
    margin-top: 48px;
}